.header {
  color: red;
  font-family: verdana;
  font-size: 200%;
}

.important {
  color: blue;
  font-family: courier;
  font-size: 120%;
}

p {
  border: 2px solid powderblue;
  padding: 30px;
  margin: 50px;
  background-color: fuchsia;
}

#head {
  color: darkred;
}

h1 {
  color: green;
}

.random {
  color: green;
}

.my-list + ul {
  list-style: none;
}

.nav-links > li {
  color: green;
}

.nav-links li a {
  color: yellowgreen;
}

.links {
  color: royalblue;
}

.links li:nth-child(2) {
  color: greenyellow;
}
